@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@800&display=swap");

:root {
  --color-magenta: rgba(255, 0, 255, 0.794);
  --color-light-magenta: rgba(212, 124, 212, 0.726);
}
* {
  box-sizing: border-box;
  /* border: 2px solid black; */
}

body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: "Raleway", sans-serif;
}
a {
  color: magenta;
  text-decoration: none;
}
ul {
  list-style: none;
}
li {
  background-color: mediumpurple;
  color: white;
  padding: 0.5em;
  width: 40%;
  margin-top: 0.5em;
}
.no-display {
  display: none !important;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2em;
}
main {
  text-align: center;
  font-size: 1.6em;
  padding-top: 1.7em;
}
.button {
  padding: 1.2em 2em;
  color: white;
  background-color: var(--color-magenta);
  border: none;
  border-radius: 7px;
}
.result {
  font-size: 2em;
  color: gray;
}
.border {
  border-top: 2px gray solid;
}
.highScores {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
}
.highscores-list-item {
  background-color: var(--color-light-magenta);
  width: auto;
}
